.container {
    height    : 84vh;
    overflow-y: scroll;

    &--grid {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap                  : 20px;
        justify-items        : center;
        padding              : 0px 60px 24px 60px;
    }
}

.title {
    text-align: center;
}