@use '../../styles/colors.module.scss'as c;

.container {
    display         : flex;
    align-items     : center;
    position        : fixed;
    right           : 0;
    min-width       : 500px;
    width           : calc(100% - 160px);
    height          : 80px;
    background-color: c.$gray-150;
    border-bottom   : 1px solid c.$gray-500;
}