.container {
    height    : calc(100vh - 120px);
    overflow-y: scroll;

    &--big {
        display        : flex;
        padding        : 0px 60px 24px 60px;
        justify-content: space-around;
        width          : 100%;
    }

    &--small {
        margin-top     : 40px;
        display        : flex;
        padding        : 0px 60px 24px 60px;
        justify-content: space-around;
        width          : 100%;
    }

}

.title {
    text-align: center;
}