@use '../../styles/colors.module.scss'as c;

.main {
    right     : 0;
    bottom    : 0;
    position  : fixed;
    width     : calc(100% - 160px);
    height    : calc(100% - 80px);
    z-index   : -1;
    overflow-x: scroll;

    @media screen and (max-width:440px) {
        width: 100%;
    }
}

.copyright {
    position     : fixed;
    bottom       : 0;
    width        : calc(100% - 160px);
    text-align   : center;
    margin-bottom: 8px;

    font-family: 'Nunito Sans';
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 20px;
    color      : c.$gray-800;

    @media screen and (max-width:440px) {
        width: 100%;
    }
}