@use '../../styles/colors.module.scss'as c;

.container {
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
    height         : 100vh;
    width          : 100%;
    ;

    @media (max-width:440px) {
        width     : 100vh;
        min-height: fit-content;
    }

}

.formContainer {
    display         : flex;
    flex-flow       : column;
    justify-content : center;
    align-items     : center;
    width           : 600px;
    min-height      : 400px;
    max-height      : 550px;
    background-color: c.$white-0;
    border          : 4px solid c.$primary-500;
    box-shadow      : -5px 4px 16px rgba(0, 0, 0, 0.5);
    border-radius   : 50px;
    height          : fit-content;

    @media (max-width:440px) {
        width     : 90vh;
        min-height: fit-content;
        margin-top: 50%;
    }

    @media (min-height: 800px) {
        max-height: 640px;
    }
}

.imageContainer {
    width: 40vh;

    @media (max-width:440px) {
        flex-grow: 2;
    }
}

.passwordContainer {
    display: flex;
}

.text-container {
    margin: -10% 10% 2% 10%;
}

.text {
    font-style     : normal;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : c.$gray-800;
    text-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__title {
        font-weight: 600;
        font-size  : 2.5rem;
        line-height: 3rem;
    }

    &__body {
        font-weight: 400;
        font-size  : 1.5rem;
        line-height: 2rem;
        margin     : -4% 0% 2% 0%;
    }
}

.form {
    width: 90%;
}

.input {
    margin      : 2% 10% 2% 10%;
    outline     : 0;
    border-width: 0 0 1px;
    border-color: c.$gray-300;
    width       : 100%;
    max-width   : 80%;
    height      : 32px;
    font-size   : 24px;

    &::placeholder {
        color      : c.$gray-300;
        font-size  : 24px;
        line-height: 30px;
    }
}

.buttonsContainer {
    display        : flex;
    flex-flow      : row;
    width          : 100%;
    margin         : 0% 0% 8% 0%;
    justify-content: space-evenly;
}

// .buttons {
//     width        : 36%;
//     height       : 2.5rem;
//     border       : 1px solid c.$black-0;
//     border-radius: 1rem;
//     font-weight  : 600;
//     font-size    : 1rem;
//     cursor: pointer;

//     @media (max-width:440px) {
//         height   : 48px;
//         font-size: 1.5rem;
//     }

//     &__submit {
//         background-color: c.$primary-500;
//         color           : c.$white-0;
//     }

//     &__cancel {
//         background-color: c.$white-0;
//         color           : c.$black-0;
//     }
// }

.error {
    color : c.$red-500;
    margin: 1% 10%;
}

.p {
    &--center {
        font-style : normal;
        font-weight: 700;
        font-size  : 1.5rem;
        line-height: 2rem;
        color      : c.$gray-300;
        margin     : 0px 20% 4% 20%;
        text-align : center;
    }

    &--right {
        text-align     : right;
        margin-right   : 20%;
        margin-top     : -2%;
        color          : c.$primary-500;
        font-weight    : 600;
        text-decoration: underline;
    }

    &--left {
        font-weight: 500;
        font-size  : 1rem;
        margin-left: 20%;

        &__error {
            color      : c.$red-500;
            font-weight: 600;
            margin     : -4% 10% 2% 10%;
        }

        &__success {
            color      : c.$primary-500;
            font-weight: 800;
            margin     : -4% 10% 2% 10%;
        }
    }
}